table, th {
  border: 1px solid black;
}

table, th, td {
  border-collapse: collapse;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header-cell {
  display: flex;
  align-items: center;
  position: relative;
  width: 15rem;
}

.header-cell.item {
  padding-left: 1rem;
}

.header-cell.item::before {
  content      : '';
  display      : block;
  position     : absolute;
  top          : -1.8rem;
  left         : -2px;
  width        : 1rem;
  height       : 2.4rem;
  border       : solid dimgrey;
  border-width : 0 0 2px 2px;
}

.data-cell, th {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

td.stats-item {
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
}

.ind1 {
  margin-left: 0.8rem;
}

.ind2 {
  margin-left: 2.6rem;
}

.collapsible {
  cursor: pointer;
}

.collapse-sign {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
  background: white;
  z-index: 1;
}

tr.start-row {
  border-top: 1px solid black;
}
