<table>
  <thead>
  <tr>
    <th></th>
    <th *ngFor="let col of columns">{{col}}</th>
  </tr>
  </thead>
  <tbody>

  <ng-container *ngFor="let node1 of nodes">

    <ng-container *ngIf="node1.stats.length > 0">
      <tr>
        <td class="collapsible" (click)="toggleNode(node1)">
          <div class="header-cell">
            <img class="collapse-sign" [src]="getSignImage(!!node1.expanded)"/>
            <div>{{node1.description}}</div>
          </div>
        </td>
        <td>
          <input type="checkbox" [ngModel]="node1.isSelected" (change)="toggleNodeSelection(node1)"/>
        </td>
        <td *ngFor="let node1Stat of node1.stats">
          <div class="data-cell">{{node1Stat.value}}</div>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="node1.children.length > 0 && node1.expanded">

      <ng-container *ngFor="let node2 of node1.children">

        <ng-container *ngIf="node2.stats.length > 0">
          <tr class="start-row">
            <td>
              <div class="header-cell collapsible" (click)="toggleNode(node2)">
                <img class="collapse-sign" [src]="getSignImage(!!node2.expanded)"/>
                <div>{{node1.description}}:{{node2.description}}</div>
              </div>
            </td>
            <td class="stats-item">
              <input type="checkbox" [checked]="node2.isSelected" (change)="toggleNodeSelection(node2)"/>
            </td>
            <td *ngFor="let node2stat of node2.stats" class="stats-item">
              <div class="data-cell">{{node2stat.value}}</div>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="node2.children.length > 0 && node2.expanded">
          <ng-container *ngFor="let node3 of node2.children">

            <ng-container *ngIf="node3.stats.length > 0">
              <tr>
                <td>
                  <div class="header-cell item ind1 collapsible" (click)="toggleNode(node3)">
                    <img class="collapse-sign" [src]="getSignImage(!!node3.expanded)"/>
                    <div>{{node2.description}}:{{node3.description}}</div>
                  </div>
                </td>
                <td class="stats-item">
                  <input type="checkbox" [checked]="node3.isSelected" (change)="toggleNodeSelection(node3)"/>
                </td>
                <td *ngFor="let node3stat of node3.stats" class="stats-item">
                  <div class="data-cell">{{node3stat.value}}</div>
                </td>
              </tr>
            </ng-container>

            <ng-container *ngIf="node3.children.length > 0 && node3.expanded">

              <ng-container *ngFor="let node4 of node3.children">

                <ng-container *ngIf="node4.stats.length > 0">
                  <tr>
                    <td>
                      <div class="header-cell item ind2">
                        <span>&nbsp;&nbsp;</span>
                        <div>{{node3.description}}:{{node4.description}}</div>
                      </div>
                    </td>
                    <td class="stats-item">
                      <input type="checkbox" [checked]="node4.isSelected"
                             (change)="toggleNodeSelection(node4)"/>
                    </td>
                    <td *ngFor="let node4stat of node4.stats" class="stats-item">
                      <div class="data-cell">{{node4stat.value}}</div>
                    </td>
                  </tr>
                </ng-container>

              </ng-container>

            </ng-container>

          </ng-container>
        </ng-container>

      </ng-container>

    </ng-container>

  </ng-container>

  </tbody>
</table>
